.login-center {
    width: 50%; 
    margin:auto;
}

.login-row {
    margin:auto;
}

.main-card-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
}

.main-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 335px;
    height: 230px;
    background-color: rgba(243, 235, 228, 0.51);
    border-radius: 1px;
    box-shadow: 1px 6px 8px 0px #615f5f2e;
}